<% provide(:title, "About") %>
<h1>About</h1>
<p>
  <em>Double-Decker is an app made to bring people together.</em> It is meant for two single friends to gain more confidence by going together. Made in development with
  <a href="http://facebook.com/">Facebook's</a> Developer API's . This is the sample application.
</p>
